{% extends "base.html" %} 
{% block head_title %}Strona główna{% endblock %} 
{% block content %} 
{% load staticfiles %}
<div id="content">
    <div class="container">
        <div class="col-md-12">
            <div id="main-slider">
                <div class="item">
                    <img class="img-responsive" src="{% static 'news/img/slider1.jpg' %}" alt="" >
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'news/img/slider2.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'news/img/slider3.jpg' %}" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="{% static 'news/img/slider4.jpg' %}" alt="">
                </div>
            </div>
            <!-- /#main-slider -->
        </div>
    </div>

    <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
    <div id="hot">

        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>Najczęściej kupowane</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="product-slider">
                {% for product in products %}
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="{% url 'products:product_view' pk=product.pk %}">
                                        <img src="{{product.images.0.image.url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="{% url 'products:product_view' pk=product.pk %}">
                                        <img src="{{product.images.1.image.url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'products:product_view' pk=product.pk %}" class="invisible">
                            <img src="{{product.images.0.image.url}}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="{% url 'products:product_view' pk=product.pk %}">{{product.title}}</a></h3>
                            <p class="price">{{product.price}} zł</p>
                        </div>
                        <!-- /.text -->
                        {% if product.on_sale %}
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                        <!-- /.ribbon -->
                        {% if product.is_new %}
                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>
                {% endfor %}
            </div>
            <!-- /.product-slider -->
        </div>
        <!-- /.container -->

    </div>
    <!-- /#hot -->

    <!-- *** HOT END *** -->
</div>
<!-- /#content -->

{% endblock %}
