{% extends "base.html" %} 
{% block head_title %}Zamówienie potwierdzone{% endblock %} 
{% block content %} 
{% load staticfiles %}

<div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="{% url 'news:home' %}">Strona domowa</a>
                        </li>
                        <li>Zamówienie</li>
                    </ul>


                    <div class="row" id="error-page">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="box">

                                <p class="text-center">
                                    <img src="{% static 'img/logo_s_G3.png' %}" alt="Swietlne logo">
                                </p>

                                <h3>Dziękujemy!</h3>
                                <h4 class="text-muted">Zamówienie nr {{order.pk}} zostało złożone!</h4>

                                <p class="text-center">Zalogowani użytkownicy mogą śledzić status swoich zamówień w <a href="{% url 'users:profile' %}">panelu użytkownika.</a> W przypadku pytań zapraszamy do skorzystania z <a href="{% url 'news:contact' %}"<strong>formularza kontaktowego</strong></a></p>

                                <p class="buttons"><a href="{% url 'news:home' %}" class="btn btn-primary"><i class="fa fa-home"></i> Powrót do strony domowej</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        
{% endblock %}