/*nav & home*/

.nav > li.navitem > a:hover,
.nav > li.navitem > a:focus {
  background-color: #ffbd77;
  color: #555555;
}

.input-group-btn > .btn-news {
  min-height: 34px;
  width: 100%;
}

.owl-theme .owl-controls .owl-page span {
  opacity: 0.8;
  background: #555555;
}

/* products*/

.products-number span,
.products-number .btn-primary {
  margin-left: 10px;
}

/*messages*/

.success {
  padding: 8px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.error {
  padding: 8px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

/*faq*/

.panel-heading > .panel-title > a:focus {
  color: #fff;
  text-decoration: none;
}
.panel-heading > .panel-title > a:hover {
  text-decoration: underline;
}

.errorlist {
  list-style-type: none;
  padding: 0px;
}

.boxclose {
  position: absolute;
  right: 5px;
  top: -10px;
  cursor:pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;   
  z-index: 999;
}

.boxclose:before {
  content: "×";
  z-index: 999;
}

.btn-blank {
  border: 0px;
  background: transparent;
}

.inline {
  display: inline;
}

.label-info {
  background-color: #90b29d;
}

.slider-outer1 {
  border: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(144, 178, 157, 0.7);
  /*background: rgba(255, 189, 119, 1);*/
  width: 300px;
  height: 100px;
  transition: 0.5s ease-in-out;
}

.slider-outer1 > .slider-inner1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 36px;
  color: rgba(255,255,255,1);
  font-weight: 100;
  transition: 0.5s ease-in-out;
}

.slider-outer1:hover {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  background: rgba(144, 178, 157, 1);
  border: 15px solid rgba(144, 178, 157, 1);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
  box-sizing: border-box;
}

.slider-outer1:hover > .slider-inner1 {
  font-size: 48px;
  transition: 0.5s ease-in-out;
}

.slider-outer2 {
  border: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(255, 189, 119, 0.9);
  height: 100px;
  transition: 0.5s ease-in-out;
}

.slider-outer2 > .slider-inner2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 36px;
  color: rgba(255,255,255,1);
  font-weight: 100;
  transition: 0.5s ease-in-out;
}

.slider-outer2:hover {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  background: rgba(255, 189, 119, 0.8);
  border: 15px solid rgba(255, 189, 119, 0.8);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
  box-sizing: border-box;
}

.slider-outer2:hover > .slider-inner2 {
  font-size: 48px;
  transition: 0.5s ease-in-out;
}
