.nav > li.navitem > a:hover,
.nav > li.navitem > a:focus {
  background-color: #ffbd77;
  color: #555555;
}

.input-group-btn > .btn-news {
  min-height: 34px;
}

.owl-theme .owl-controls .owl-page span {
  opacity: 0.8;
  background: #555555;
}

.products-number span,
.products-number .btn-primary {
  margin-left: 10px;
}