{% extends "base.html" %} 
{% block head_title %}Wishlist - Lista życzeń{% endblock %} 
{% block content %} 
{% load staticfiles %}


<div id="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li><a href="{% url 'news:home' %}">Strona domowa</a>
                </li>
                <li>Wishlist - Lista życzeń</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
 _________________________________________________________ -->
            {% include 'sidebar-account.html' %}

            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9" id="wishlist">

            <div class="box">
                <h1>Wishlist - Lista życzeń</h1>
                <p class="lead">Spodobało Ci się coś, ale chcesz to kupić później? Umieść to na swojej wishliście, aby szybko znaleźć swoje ulubione rzeczy.</p>
            </div>

            <div class="row products">

                {% for product in products %}
                <div class="col-md-3 col-sm-4">
                    <form method="POST" action="{% url 'users:wishlist' %}">
                        {% csrf_token %}
                        <input type="hidden" name="remove_wishlist" value="{{product.pk}}">
                        <button type="submit" class="boxclose"></button>
                    </form>
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="{% url 'products:product_view' pk=product.pk %}">
                                        <img src="{{product.images.0.image.url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="{% url 'products:product_view' pk=product.pk %}">
                                        <img src="{{product.images.1.image.url}}" alt="" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'products:product_view' pk=product.pk %}" class="invisible">
                            <img src="{{product.images.0.image.url}}" alt="" class="img-responsive">
                        </a>
                        <div class="text">
                            <h3><a href="{% url 'products:product_view' pk=product.pk %}">{{product.title}}</a></h3>
                            <p class="price">{{product.price}} zł</p>
                            <div class="buttons">
                                <a href="{% url 'products:product_view' pk=product.pk %}" class="btn btn-default btn-md">Szczegóły</a>
                                <form method="POST" action="{% url 'cart:add_to_cart_view' pk=product.pk %}">
                                    {% csrf_token %}
                                    <div class="hidden">{{ cart_form }}</div>
                                    <button type="submit" class="btn btn-primary btn-md"><i class="fa fa-shopping-cart"></i>Dodaj do koszyka</a>
                                </form>
                            </div>
                        </div>
                        <!-- /.text -->
                        {% if product.on_sale %}
                        <div class="ribbon sale">
                            <div class="theribbon">OKAZJA</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                        <!-- /.ribbon -->
                        {% if product.is_new %}
                        <div class="ribbon new">
                            <div class="theribbon">NOWE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        {% endif %}
                        <!-- /.ribbon -->
                    </div>
                    <!-- /.product -->
                </div>
                {% endfor %}
            </div>
            <!-- /.products -->

        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

{% endblock %}
