{% load staticfiles %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Adrian Dworanowski">

    <title>ŚWIETLNE - {% block head_title %}{% endblock %}</title>

    {% include 'css.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    <div class="all">
        
        {% if messages %} 
        <div class="container">
            <div class="col-md-12">
            {% for message in messages %}
                <p{% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
            {% endfor %} 
            </div>
        </div>
        {% endif %} 
        
        {% block content %} 
        {% endblock %} 
            
        {% include 'footer.html' %}
    </div>
    {% include 'javascript.html' %}
</body>

</html>
