<!-- *** TOPBAR ***
 _________________________________________________________ -->
{% load staticfiles %}
<div id="top">
    <div class="container">
        <div class="col-md-12" data-animate="fadeInDown">
            <ul class="menu">
                {% if user.is_anonymous %}
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Logowanie</a>
                </li>
                <li><a href="{% url 'users:register' %}">Rejestracja</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'users:profile' %}">Aktywny użytkownik: {{ request.user.username }}</a>
                </li>
                <li><a href="{% url 'users:logout' %}?next={{request.path}}">Wyloguj</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Logowanie</h4>
                </div>
                <div class="modal-body">
                    <form action="{% url 'users:login' %}?next={{request.path}}" method="post">
                    {% csrf_token %}
                        {% if form.errors %}
                            <p class="error">Niepoprawne hasło lub nazwa użytkownika.</p>
                        {% endif %}
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Zaloguj się</button>
                        </p>

                    </form>

                    <p class="text-center text-muted">Nie masz swojego konta?</p>
                    <p class="text-center text-muted"><a href="{% url 'users:register' %}"><strong>Zarejestruj się</strong></a>! 
                    <br>Rejestracja jest prosta, szybka i pozwala śledzić status swoich zamówień.</p>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
 _________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand home" href="{% url 'news:home' %}" data-animate-hover="bounce">
                <img src="{% static 'img/logo_s_G3.png' %}" alt="Swietlne logo" class="hidden-xs">
                <img src="{% static 'img/logo_s_G3.png' %}" alt="Swietlne logo" class="visible-xs"><span class="sr-only">Swietlne</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                <a class="btn btn-default navbar-toggle" href="{% url 'cart:cart_view' %}">
                    <i class="fa fa-shopping-cart"></i> 
                    <span class="hidden-xs">
                        {% if cart|length > 0 %}
                        Koszyk: {{cart|length}}
                        {% else %}
                        Pusty koszyk
                        {% endif %}
                    </span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown yamm-fw navitem">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Sklep <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5>Kategorie</h5>
                                        <ul>
                                            {% for category in categories %}
                                            <li><a href="{% url 'products:category_view' category_slug=category.slug %}">{{category.title}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>Pracownia</h5>
                                        <ul>
                                            <li><a href="category.html">Zamówienia indywidualne</a>
                                            </li>
                                            <li><a href="category.html">O nas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
                <li class="navitem"><a href="{% url 'news:contact' %}">Kontakt</a></li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">

            <div class="navbar-collapse collapse right" id="basket-overview">
                <a href="{% url 'cart:cart_view' %}" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i>
                    <span class="hidden-sm">
                    {% if cart|length > 0 %}
                    Koszyk: {{cart|length}}
                    {% else %}
                    Pusty koszyk
                    {% endif %}
                    </span>
                </a>
            </div>
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
            </div>

        </div>

        <div class="collapse clearfix" id="search">

            <form method="GET" class="navbar-form" role="search" action="{% url 'products:search_view' %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Szukaj na stronie">
                    <span class="input-group-btn">

			<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

		    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->
    